<!-- params 4-n(3rd odd value + 1)
     Strictly positional
     Can create a gallery of multiple rows
     with multiple images using this shortcode

     position 0
        Pass in the width of the column in the row, e.g 6u
        - The width has a max size of 12
        - Set the value by also adding the letter u at the end like so: 4u
        - Can also end the row and start a new one
          by adding the character $ like so: 8u$

     position 1
        Pass in the name of the file including the extension of the file type

     position 2
        Alt name for image, can be left as an empty string "" if no text is desired

     position 3
        same as position 0

     position 4
        same as position 1

     position 5
        same as position 2
     ...
     position n-4

     position n-3

     position n-2

     position n-1
        Can pass in the following values:
            title: will use /img/LinkTitle as the path
            date: will use /img/year/month as the path
            /path/to/img: can pass in the explicit path to the image
-->
{{ $numOfParams := sub (len .Params) 1 }}
{{ if (ge $numOfParams 3) }}
    {{ $.Scratch.Set "structType" "shortcode" }}

    <div class="box alt">
        <div class="row uniform">
        {{ $.Scratch.Set "count" 1 }}
        {{ $.Scratch.Set "imgFile" "" }}
        {{ $.Scratch.Set "imgAction" "resize" }}
        {{ $.Scratch.Set "resize" "500x" }}
        {{ range first $numOfParams .Params }}
            {{ if eq ($.Scratch.Get "count") 1 }}
                {{ $.Scratch.Set "classString" . }}
                {{ $.Scratch.Set "imgAction" "resize" }}
                {{ if hasPrefix . "rs" }}
                  <!-- resize format should be:
                      rs:widthxheight:[resize|fit|fill]:classString
                      ex:    rs:1000x500:fill:6u
                  -->
                  {{ $params := (split . ":") }}
                  {{ $.Scratch.Set "resize" (index $params 1) }}
                  {{ $.Scratch.Set "imgAction" (index $params 2) }}
                  {{ $.Scratch.Set "classString" (index $params 3) }}

                {{ else if eq . "12u" }}
                  {{ $.Scratch.Set "resize" "1000x" }}
                {{ else if eq . "6u" }}
                  {{ $.Scratch.Set "resize" "500x" }}
                {{ else }}
                  {{ $.Scratch.Set "resize" "300x" }}
                {{ end }}
                <div class="{{ $.Scratch.Get "classString" }}">
            {{ else if eq ($.Scratch.Get "count") 2 }}
                {{ if eq . "" }}
                    </div>
                    {{ $.Scratch.Set "imgFile" "" }}
                {{ else }}
                    {{ $.Scratch.Set "imgFile" . }}
                    <span class="image fit">
                {{ end }}
            {{ else }}
                {{ if ne ($.Scratch.Get "imgFile") "" }}
                    {{ $original := $.Page.Resources.GetMatch (printf "**/*%s*" ($.Scratch.Get "imgFile")) }}
                    {{ if eq ($.Scratch.Get "imgAction") "resize" }}
                      {{ $.Scratch.Set "resizeImage" ($original.Resize ($.Scratch.Get "resize")) }}
                    {{ else if eq ($.Scratch.Get "imgAction") "fill" }}
                      {{ $.Scratch.Set "resizeImage" ($original.Fill ($.Scratch.Get "resize")) }}
                    {{ else if eq ($.Scratch.Get "imgAction") "fit" }}
                      {{ $.Scratch.Set "resizeImage" ($original.Fit ($.Scratch.Get "resize")) }}
                    {{ else }}
                      {{ $.Scratch.Set "resizeImage" ($original.Resize ($.Scratch.Get "resize")) }}
                    {{ end }}
                    
                    {{ $image := ($.Scratch.Get "resizeImage") }}
                        <a href="{{ $original.RelPermalink }}" title="{{ . }}">
                        <img src='{{ $image.RelPermalink }}' alt="{{ . }}" />
                        </a>
                    </span></div>
                {{ end }}
                {{ $.Scratch.Set "count" 0 }}
            {{ end }}
            {{ $.Scratch.Add "count" 1 }}
        {{ end }}
        </div>
    </div>
    <script src="/fancyzoom/js-global/FancyZoom.js" type="text/javascript"></script>
    <script src="/fancyzoom/js-global/FancyZoomHTML.js" type="text/javascript"></script>
    <script>
      window.addEventListener("load", function load(event){
          setupZoom(); 
      },false);
    </script>
{{ end }}
